.toast-container .ngx-toastr {
    border-radius: .25rem;
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: .75rem 1.25rem .75rem 50px;
    width: 330px !important;
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 24px;
    box-shadow: 0 0 10px rgba(0,0,0,.03);
    pointer-events: auto;
}

.toast-success {
    background-color: #28a745 ;
}

.toast-error
{
    background-color: #dc3545;
}

.toast-info
{
    background-color: #17a2b8;
}

.toast-warning
{
    background-color: #ffc107;
}
