<button type="button" id="foto" class="btn btn-primary btn-block" [disabled]="!habilitarBoton()" (click)="obtenerFoto()">Foto<i class="fa fa-user-circle-o" style="padding-left: 5%" ></i></button>
<app-toast></app-toast>

