@import "~bootstrap/scss/bootstrap";
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
$enable-shadows: true;

.center {
    text-align: center;
}
small {
    color: #6d2a2a;
}
.form-control {
  padding-bottom: 3px;
  padding-top: 3px;
}


.formulario {
    /* --------------------------------------- */
    /* ----- Radio Button */
    /* --------------------------------------- */
    /* --------------------------------------- */
    /* ----- Checkbox */
    /* --------------------------------------- */ }
    .formulario h2 {
      font-size: 25px;
      color: rgb(255, 255, 255);
      margin-bottom: 20px;
      margin-left: 20px; }
    .formulario > div {
      padding: 0px;
      border-bottom: 0px solid rgb(32, 25, 25); }
    .formulario .radio label,
    .formulario .checkbox label {
      display: inline-block;
      cursor: pointer;
      color: rgb(0, 0, 0);
      position: relative;
      padding: 5px 15px 5px 51px;
      font-size: 1em;
      border-radius: 5px;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .formulario .radio label:hover,
      .formulario .checkbox label:hover {
        background: rgba(162, 213, 255, 0.1); }
      .formulario .radio label:before,
      .formulario .checkbox label:before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 15px;
        border-radius: 50%;
        background: none;
        border: 3px solid rgb(0, 183, 255); }
    .formulario input[type="radio"] {
      display: none; }
      .formulario input[type="radio"]:checked + label:before {
        display: none; }
      .formulario input[type="radio"]:checked + label {
        padding: 5px 15px;
        background: rgba(38, 163, 0, 0.822);
        border-radius: 2px;
        color: #fff; }
    .formulario .checkbox label:before {
      border-radius: 3px;
    background: red($color: #000000); }
    .formulario .checkbox input[type="checkbox"] {
      display: none; }
      .formulario .checkbox input[type="checkbox"]:checked + label:before {
        display: none; }
      .formulario .checkbox input[type="checkbox"]:checked + label {
        background: rgb(255, 255, 255);
        color: #fff;
        padding: 5px 15px; }

        #footer {
          font-size: large;
          height: 60px;
          background-color: #ffffff;
        }
        
        
        /* Custom page CSS
        -------------------------------------------------- */
        
        
        #wrap > .container {
          padding: 60px 15px 0;
        }
        .container .credit {
          margin: 20px 0;
        }
        
        #footer > .container {
          padding-bottom: 0%;
          padding-left: 15%;
          padding-right: 10%;
        }
        
        #footer {
            position: fixed;
            width: 100%;
            display: block;
            bottom: 0;
        }