<div class="container-fluid mb-3 d-flex justify-content-end">
    <div class="col-2">
        <input type="text" class="form-control" autocomplete="off" oninput="process(this)" maxlength="8" name="dniValidador" id="inputValidador"
        placeholder="DNI validador" [disabled]="!isDniValidator" [(ngModel)]="entidad.dniValidador">
        <small id="dniValidadorlHelp" class="form-text" style="color: red;"
        *ngIf="isDniValidatorValid">{{messageValidatorByDniValidator}}</small>
    </div>

</div>

<div [@routerTransition]>
    <div class="container;col-md-12" style="margin-left: 1%;margin-right: 1%;">

        <div class="card shadow p-3 mb-3 bg-white rounded">
            <form>
                <div class="form-row d-flex justify-content-center">

                    <div class="form-group col-md-5">
                        <div class="form-group d-flex justify-content-center">
                            <label class="h4" for="inputDniConsultor"><i class="fa fa-users"></i> Ingrese DNI</label>

                        </div>
                        <div class="form-group">
                            <input type="text" maxlength="20" class="form-control" autocomplete="off" oninput="process(this)"
                                id="inputDniConsultor" placeholder="DNI a Consultar" name="inputDniConsultor"
                              [(ngModel)]="entidad.dniConsultor">
                            <small id="emailHelp" class="form-text" style="color: red;" (change)="cambioDNIValidador()"
                                *ngIf="isDniConsultorValid">{{messageValidatorByDniConsultor}}</small>
                        </div>

                    </div>


                    <!-- <div class="col-md-2 d-flex justify-content-center">
                        <div class="d-flex align-items-center">
                            <button type="button" class="btn btn-danger" (click)="limpiarTodo()"
                                style="margin-top: 15%;">Limpiar<i class="fa fa-refresh" style="padding-left:10px;"></i></button>
                        </div>
                    </div-->
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="card shadow p-3 mb-3 bg-white rounded">
                    <div class="row">
                        <div class="col-md-3">
                            <app-mejor-huella [dniValidador]="entidad.dniValidador"
                                [dniConsultor]="entidad.dniConsultor" (executeFuctionCleanImagen)="cleanImagen()"
                                (executeFuctionCleanHuella)="cleanHuella()"
                                (propagarMensajeErrorInput)="mostrarMensajeError($event)"
                                (propagarMensajeRespuestaServicio)="respuestaServicio($event)"
                                (propagarTituloDeTipoCapturaHuella)="cambiarTituloDeTipoHuella($event)">
                            </app-mejor-huella>
                        </div>
                        <div class="col-md-3">
                            <app-capturar (propagarHuellaDerecha)="mostrarHuellaDerecha($event)"
                                (propagarHuellaIzquierda)="mostrarHuellaIzquierda($event)"
                                (propagarMensajeError)="mostrarMensajeError($event)"
                                (propagarRespuestaServicio)="respuestaServicio($event)"
                                [dniConsultor]="entidad.dniConsultor" [tipoCaptura]="entidad.tipoCaptura">
                            </app-capturar>
                        </div>
                        <div class="col-md-3">
                            <app-verificar [dniValidador]="entidad.dniValidador" [dniConsultor]="entidad.dniConsultor"
                                [tipoCaptura]="entidad.tipoCaptura" (propagarMensajeErrorInput)="mostrarMensajeError($event)"
                                (propagarRespuestaServicio)="respuestaServicio($event)"
                                (propagarDatos)="mostrarDatosConsolidado($event)"></app-verificar>
                        </div>
                        <div class="col-md-3">
                            <app-verificarmoc [dniConsultor]="entidad.dniConsultor" [tipoCaptura]="entidad.tipoCaptura"
                                (propagarMensajeError)="mostrarMensajeError($event)"
                                (propagarRespuestaServicio)="respuestaServicio($event)"></app-verificarmoc>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow p-3 mb-3 bg-white rounded">
                    <div class="row">
                        <div class="col-md-6" *ngIf="isDatosConsolidado; else elseBlock">
                            <app-datos [dniValidador]="entidad.dniValidador" [dniConsultor]="entidad.dniConsultor"
                                (propagarDatos)="mostrarDatosConsolidado($event)"
                                (propagarMensajeError)="mostrarMensajeError($event)"
                                (propagarRespuestaServicio)="respuestaServicio($event)"></app-datos>
                        </div>
                        <ng-template #elseBlock>
                            <div class="col-md-6" *ngIf="!isDatosConsolidado">
                                <app-foto (propagarFoto)="mostrarFoto($event)"
                                    (propagarMensajeError)="mostrarMensajeError($event)"
                                    (propagarRespuestaServicio)="respuestaServicio($event)"
                                    [dniValidador]="entidad.dniValidador" [dniConsultor]="entidad.dniConsultor">
                                </app-foto>
                            </div>
                        </ng-template>
                        <div class="col-md-6">
                            <button type="button" id="limpiar" class="btn btn-danger btn-block" (click)="limpiarTodo()">Limpiar   <i class="fa fa-refresh"></i></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-4">

                <div class="card shadow p-3 mb-3 bg-white rounded"
                    style="padding: 0%;padding-bottom: 1%;margin-bottom: 0px;">
                    <div class="card-body" style="align-items: center;padding-bottom: 1%;padding-top: 3%;padding-left: 0px;">
                        <form action="" class="formulario" style="padding-bottom: 5%;">
                            <div class="d-flex justify-content-center"
                                style="padding: 0%;padding-bottom: 1%;margin-bottom: 0px;">
                                <div style="margin-top: 0%;margin-bottom: 0%;vertical-align: middle;">
                                    <div class="radio">
                                        <input class="form-check-input" type="radio" name="tipCapturaBtnradio"
                                            id="dedoDerecho" [value]=0 #tipCapturaBtnradio="ngModel"
                                            [(ngModel)]="entidad.tipoCaptura" (change)="changeOfHtmlByTypCapture()"
                                            checked>
                                        <label class="form-check-label" for="dedoDerecho">
                                            Dedo Derecho
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <input class="form-check-input" type="radio" name="tipCapturaBtnradio"
                                            id="dedoIzquierdo" [value]=1 #tipCapturaBtnradio="ngModel"
                                            [(ngModel)]="entidad.tipoCaptura" (change)="changeOfHtmlByTypCapture()">
                                        <label class="form-check-label" for="dedoIzquierdo">
                                            Dedo Izquierdo
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <input class="form-check-input" type="radio" name="tipCapturaBtnradio"
                                            id="ambosDedos" [value]=2 #tipCapturaBtnradio="ngModel"
                                            [(ngModel)]="entidad.tipoCaptura" (change)="changeOfHtmlByTypCapture()">
                                        <label class="form-check-label" for="ambosDedos">
                                            Ambos Dedos
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </form>

                        <div id="RecuadroDerecho"
                            style="align-items: center;width: 330px;margin-left:auto;margin-right:auto;"
                            *ngIf="isValidDedoDerecho">
                            <div style="display: table-cell;margin-left:auto;margin-right:auto;">
                                <table rowspan="1" class="table table-bordered center"
                                    style="vertical-align: middle;margin:0px;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img style="height: 124px;width: 124px;padding: 0%;margin: 0%;"
                                                    [src]="huellaDerecha">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                            <div style="display: table-cell; vertical-align: bottom;">
                                <table class="table table-bordered center"
                                    style="height: 150px;width: 180px;margin:0px;margin-bottom: 5%;">
                                    <thead>
                                        <tr>
                                            <th colspan="3" style="padding: 4%;margin: 0%;">
                                                {{tituloDeTipoHuellaDerecha}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <td style="vertical-align: middle;height: 10%; width: 10%;padding: 5%;">Nist
                                        </td>
                                        <td style="vertical-align: middle;height: 10%; width: 10%;">{{nistDerecha}}</td>
                                        <td
                                            style="vertical-align: middle;padding: 0%;margin: 0%;height: 15%; width: 5%;">
                                            <img [src]="imagenNistDerecha">
                                        </td>
                                        <tr>
                                            <td style="vertical-align: middle;height: 20%; width: 10%;padding: 0%;">
                                                Huella
                                                <br>
                                                Viva
                                            </td>
                                            <td style="vertical-align: middle;height: 35%; width: 10%;">
                                                {{huellaVivaDerecha}}</td>
                                            <td
                                                style="vertical-align: middle;padding: 0%;margin: 0%;height: 35%; width: 5%;">
                                                <img [src]="imagenHuellaVivaDerecha">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>



                        <div id="RecuadroIzquierdo" *ngIf="isValidDedoIzquierdo"
                            style="width: 330px;margin-left:auto;margin-right:auto;">
                            <div style="display: table-cell">
                                <table rowspan="1" class="table table-bordered center"
                                    style="vertical-align: middle;margin:0px;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img style="height: 124px;width: 124px;padding: 0%;margin: 0%;"
                                                    [src]="huellaIzquierda">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                            <div style="display: table-cell; vertical-align: bottom;">
                                <table class="table table-bordered center"
                                    style="height: 150px;width: 180px;margin:0px;margin-bottom: 5%;">
                                    <thead>
                                        <tr>
                                            <th colspan="3" style="padding: 4%;margin: 0%;">
                                                {{tituloDeTipoHuellaIzquierdo}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <td style="vertical-align: middle;height: 10%; width: 10%;padding: 5%;">Nist
                                        </td>
                                        <td style="vertical-align: middle;height: 10%; width: 10%;">{{nistIzquierda}}
                                        </td>
                                        <td
                                            style="vertical-align: middle;padding: 0%;margin: 0%;height: 15%; width: 5%;">
                                            <img [src]="imagenNistIzquierda">
                                        </td>
                                        <tr>
                                            <td style="vertical-align: middle;height: 20%; width: 10%;padding: 0%;">
                                                Huella
                                                <br>
                                                Viva
                                            </td>
                                            <td style="vertical-align: middle;height: 35%; width: 10%;">
                                                {{huellaVivaIzquierda}}</td>
                                            <td
                                                style="vertical-align: middle;padding: 0%;margin: 0%;height: 35%; width: 5%;">
                                                <img [src]="imagenHuellaVivaIzquierda">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <div class="card shadow p-3 mb-3 bg-white rounded">

                    <div class="alert alert-primary center" role="alert" *ngIf="isValidMessageServices">
                        {{mensageRespuestaServicio}}
                    </div>

                    <div class="row">
                        <div class="col-md-9" style="padding-top: 2%;padding-bottom: 0%;">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="codigoRespuesta" style="width: 200px">
                                        <i class="fa fa-code" style="padding-right: 5px"></i>Código Respuesta</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" disabled name="inputCodigoRespuesta"
                                  [(ngModel)]="codigoRespuestaServicio">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="dni" style="width: 200px">
                                        <i class="fa fa-address-book-o" style="padding-right: 5px"></i>Número DNI</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" disabled
                                    [(ngModel)]="datosConsolidado.dni">
                            </div>


                            <div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="apellidos"
                                            style="width: 200px">
                                            <i class="fa fa-address-book-o"
                                                style="padding-right: 5px"></i>Apellidos</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-default" disabled
                                        [(ngModel)]='datosConsolidado.apellidos'>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="nombres"
                                            style="width: 200px">
                                            <i class="fa fa-address-book-o"
                                                style="padding-right: 5px"></i>Nombres</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-default" disabled
                                        [(ngModel)]="datosConsolidado.nombres">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="caducidad"
                                            style="width: 200px">
                                            <i class="fa fa-calendar-times-o" style="padding-right: 5px"></i>Fecha de
                                            Caducidad</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" disabled [(ngModel)]="datosConsolidado.caducidadDescripcion">
                                </div>
                            </div>
                            <div *ngIf="isDatosConsolidado">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="expedicion"
                                            style="width: 200px">
                                            <i class="fa fa-calendar-plus-o" style="padding-right: 5px"></i>Fecha de
                                            Expedición</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-default" disabled
                                        [(ngModel)]="datosConsolidado.fechaExpedicion">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="nacimiento"
                                            style="width: 200px">
                                            <i class="fa fa-calendar-check-o" style="padding-right: 5px"></i>Fecha de
                                            Nacimiento</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-default" disabled
                                        [(ngModel)]="datosConsolidado.fechaNacimiento">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="estatura"
                                            style="width: 200px">
                                            <i class="fa fa-arrow-circle-up"
                                                style="padding-right: 5px"></i>Estatura</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-default" disabled
                                        [(ngModel)]="datosConsolidado.estatura">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="sexo"
                                            style="width: 200px">
                                            <i class="fa fa-venus-mars" style="padding-right: 5px"></i>Sexo</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-default" disabled
                                        [(ngModel)]="datosConsolidado.sexoDescripcion">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="estadoCivil"
                                            style="width: 200px">
                                            <i class="fa fa-home" style="padding-right: 5px"></i>Estado Civil</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-default" disabled
                                        [(ngModel)]="datosConsolidado.estadoCivilDescripcion">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex align-items-center" style="padding-left: 5%;padding-bottom: 1%;">
                            <div style="width: 100% height=100%;">
                                <div class="column">
                                    <img height="100%" width="100%" class="img-thumbnail" [src]="foto" />
                                </div>
                                <div class="column" *ngIf="isDatosConsolidado">
                                    <img height="100%" width="100%" class="img-thumbnail" [src]="firma" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3" *ngIf="isDatosConsolidado">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="direccion" style="width: 200px">
                                <i class="fa fa-map-marker" style="padding: 5px"></i>Dirección</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" style="height: 40px"
                            aria-describedby="inputGroup-sizing-default" disabled
                            [(ngModel)]='datosConsolidado.direccion'>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div  id="footer">
        <div class="container">
          <p class="text-muted credit"><img src="assets/images/novatronic_icon.png" style="width: 30px;height: 30px;margin-right: 5px;" class="logo-bottom">{{footer}}</p>
        </div>
      </div>

