<div class="modal-body">
    <div class="mensaje">
        <p>{{message | translate}}</p>
    </div>

    <div class="row ">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <button type="button" class="btn btn-danger anchoCienPorCiento"
                (click)="activeModal.close('Close click')">{{ 'Close' | translate }}</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-success anchoCienPorCiento" style="text-align: center;"
                (click)="activeModal.close('Confirm')">{{ 'Confirm' | translate }}</button>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

