$green-success-color: #28a745;
$red-danger-color: #dc3545;


.modal-body {
    background-color: transparent;
    /*background-color: rgb(255, 255, 255);*/
}


.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success:visited {
    color: #000;
    background: white;
    border: 2px solid $green-success-color;
    outline: none;
}

.anchoCienPorCiento {

    width: 100%;
    text-align: center;

}

.btn-danger:hover,
.btn-danger:active,
.bbtn-danger:focus,
.btn-danger:visited {
    color: #000;
    background: white;
    border: 2px solid $red-danger-color;
    outline: none;
}


.mensaje {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

}
