
<!-- 

<table class="card-body table table-hover" style="text-align: center;" id="excel-table">
    <thead>
        <tr>
            <th>Todos</th>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Estado</th>
            <th>Restablecer clave</th>
            <th>Operaciones</th>
        </tr>
    </thead>
    <tbody  *ngIf="listarUsuarioOk">
        <tr *ngFor="let usuario of listaUsuarios | filter:[clicBotonBusqueda, filterUsuario,filterNombre, filterApellido, filterEstado] | paginate:{itemsPerPage: 5, currentPage:p}">
            <td class="check"><input name="" type="checkbox" (change)="onChange(usuario, $event.target.checked)"/></td>
            <td>{{usuario.usuario}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.apPaterno}} {{usuario.apMaterno}}</td>
            <td>{{usuario.estado}}</td>
            <td>
                <button type="button" class="btn btn-outline-warning" data-toggle="tooltip"
                    data-placement="left" title="Restablecer clave">
                    <a (click)="resetearContrasenia(usuario.usuario, usuario.correo)"><i class="fa fa-repeat" aria-hidden="true"></i></a>
                </button>
            </td>
            <td>
                <div class="row">
                    <div class="col-md-6" style="text-align: right;">
                        <button type="button" class="btn btn-outline-primary" data-toggle="tooltip"
                            data-placement="left" title="Ver detalle">
                            <a (click)="detalleUsuario(usuario)"><i class="fa fa-address-card-o"
                                    aria-hidden="true"></i></a>
                        </button>

                    </div>
                    <div class="col-md-6" style="text-align:left;">
                        <button type="button" class="btn btn-outline-info" data-toggle="tooltip"
                            data-placement="left" title="Editar">

                            <a (click)="editarUsuario(usuario)"><i class="fa fa-pencil-square-o"
                                    aria-hidden="true"></i></a>
                        </button>
                    </div>
                </div>

            </td>
        </tr>

    </tbody>
</table>
-->