<div id="footer">
  <div class="container">
      <p class="text-muted credit">
          <img src="assets/images/novatronic_icon.png" style="width: 30px;height: 30px;margin-right: 5px;"
              class="logo-bottom">Perú (51)1 415-2400 Novatronic © 2020
      </p>
  </div>
</div>