<div [@routerTransition]>

    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow p-3 mb-3 bg-white rounded">
                <div class="card-header mb-3 p-2 h5">
                    {{'User Management' | translate}}
                </div>
                <form [formGroup]="gestionarUsuarioForm"  >
                    <div class="form-row d-flex align-items-center">
                        <div class="form-group col-md-2"></div>
                        <div class="form-group col-md-4">
                            <div class="form-group row">
                                <label for="inputUsuario" id="luser" class="col-sm-3 col-form-label">{{'User' | translate}}</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control"  (keyup)="onChangeForm()"
                                    oninput="usuario(this)" maxlength="20" formControlName="filterUsuario" id="inputUsuario" 
                                    placeholder="{{ 'User' | translate }}" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputApellido" class="col-sm-3 col-form-label">{{'Lastname' | translate}}</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" (keyup)="onChangeForm()"
                                    oninput="nombres(this)" maxlength="50" formControlName="filterApellido" id="inputApellido"
                                     placeholder="{{ 'Lastname' | translate }}" >
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-5">
                               <div class="form-group row">
                                <label for="inputNombre" class="col-sm-3 col-form-label">{{'Name' | translate}}</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control"  (keyup)="onChangeForm()"
                                    oninput="nombres(this)" maxlength="50" formControlName="filterNombre" id="inputNombre"
                                    placeholder="{{ 'Name' | translate }}" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEstado" class="col-sm-3 col-form-label">{{ 'Status' | translate }}</label>
                                <div class="col-sm-7">
                                    <select id="inputEstado" class="form-control" formControlName="filterEstado" (change)="onChangeForm()">
                                        <option value="">{{'Selected' | translate}}...</option>
                                        <option [value]="'CREADO'">{{'CREATED' | translate}}</option>
                                        <option [value]="'IMPORTADO'">{{'IMPORTED' | translate}}</option>
                                        <option [value]="'HABILITADO'">{{'ENABLED' | translate}}</option>
                                        <option [value]="'BLOQUEADO'"> {{'LOCKED' | translate}}</option>
                                        <option [value]="'RESETEADO'"> {{'RESET' | translate}}</option>
                                        <option [value]="'INHABILITADO'"> {{'DISABLED' | translate}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="row col-md-6" style="text-align: left;">
                            <div class="col-md-2">
                                <button type="button" class="btn btn-outline-primary" (click)="crearUsuario()">
                                    <a ><i class="fa fa-user-plus" aria-hidden="true"></i>
                                        {{'New' | translate}}</a>
                                </button>
                            </div>
                            <div class="col-md-10" style="text-align: left;">
                                <button type="button" class="btn btn-outline-dark" (click)="eliminarUsuarios()">
                                    <a ><i class="fa fa-user-times" aria-hidden="true"></i> {{'Delete' | translate}}</a>
                                </button>
                            </div>
                        </div>
                        <div class="row col-md-6" style="text-align: right;">
                            <div class="col-md-11">
                                <button type="button" class="btn btn-outline-success" (click)="exportarExcel()">
                                    <a >Excel <i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
                                </button>
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-outline-danger" (click)="exportarPDF()">
                                    <a >PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="table-responsive">
                <table class="card-body table table-hover" style="text-align: center;" id="excel-table">
                    <thead>
                        <tr>
                            <th>{{'All' | translate}}</th>
                            <th>{{'User' | translate}}</th>
                            <th>{{'Name' | translate}}</th>
                            <th>{{'Lastname' | translate}}</th>
                            <th>{{'Status' | translate }}</th>
                            <th>{{'Reset key' | translate}}</th>
                            <th>{{'Operations' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody  *ngIf="listarUsuarioOk">
                        <tr *ngFor="let usuario of listaUsuariosSixbio | 
                        filter:[
                        gestionarUsuarioForm.getRawValue().filterUsuario,
                        gestionarUsuarioForm.getRawValue().filterNombre, 
                        gestionarUsuarioForm.getRawValue().filterApellido,
                        gestionarUsuarioForm.getRawValue().filterEstado
                        ] |
                         paginate:{itemsPerPage: 5, currentPage:p}">
                            <td class="check"><input name="" type="checkbox" (change)="onChange(usuario, $event.target.checked)"/></td>
                            <td>{{usuario.usuario}}</td>
                            <td>{{usuario.nombre}}</td>
                            <td>{{usuario.apPaterno}}</td>
                            <td>{{usuario.estado}}</td>
                            <td>
                                <button type="button" name="reset" class="btn btn-outline-warning" data-toggle="tooltip"
                                    data-placement="left" title="Restablecer clave" (click)="resetearContrasenia(usuario.usuario, usuario.correo)">
                                    <a ><i class="fa fa-repeat" aria-hidden="true"></i></a>
                                </button>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-md-6" style="text-align: right;">
                                        <button type="button" class="btn btn-outline-primary" data-toggle="tooltip"
                                            data-placement="left" title="Ver detalle" (click)="detalleUsuario(usuario)">
                                            <a ><i class="fa fa-address-card-o" aria-hidden="true"></i></a>
                                        </button>
                                    </div>
                                    <div class="col-md-6" style="text-align:left;">
                                        <button type="button" class="btn btn-outline-info" data-toggle="tooltip"
                                            data-placement="left" title="Editar" (click)="editarUsuario(usuario)">
                                            <a ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
          <p class="text-muted credit"><img src="assets/images/novatronic_icon.png" style="width: 30px;height: 30px;margin-right: 5px;" class="logo-bottom">{{footer}}</p>
        </div>
    </div>

    <div class="container d-flex justify-content-center">
        <pagination-controls (pageChange)="p=$event"
        previousLabel="Anterior"
        nextLabel="Siguiente"
        responsive="true"
        *ngIf="listarUsuarioOk">
        </pagination-controls>
    </div>
    <ngx-spinner></ngx-spinner>
</div>



<div class="modal fade" bsModal #modal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="dialog-events-name"
     (onHidden)="evento()">
     <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>{{ messageModal | translate }}</p>
                <button type="button" class="btn btn-danger" (click)="decline()" >Cerrar</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-success" (click)="confirm()" >Confirmar</button>
            </div>
        </div>  
    </div>
</div>





<app-toast></app-toast>


