<div class="row">
    <div class="col-lg-12">
        <div class="card mb-3">
            <div class="card-header">Detalle Usuario</div>
            <div class="card-body">
                <div class="form-row d-flex justify-content-center">
                    <div class="form-group col-md-6">
                        <fieldset disabled>
                        <div class="form-group row">
                            <label for="inputUsuario" class="col-sm-4 col-form-label">{{'User' | translate}} (*)</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="inputUsuario" placeholder="{{ 'User' | translate }}" 
                                name="inputUsuario"[(ngModel)]="usuario.usuario">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputNombre" class="col-sm-4 col-form-label">{{'Name' | translate}} (*)</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="inputNombre" placeholder="{{ 'Name' | translate }}"
                                name="inputNombre" [(ngModel)]="usuario.nombre">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputApellidoPaterno" class="col-sm-4 col-form-label">{{'Paternal Lastname' | translate}} (*)</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="inputApellidoPaterno"
                                placeholder="{{ 'Paternal Lastname' | translate }}" name="inputApellidoPaterno"  [(ngModel)]="usuario.apPaterno">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputApellidoMaterno" class="col-sm-4 col-form-label">{{'Maternal Lastname' | translate}} (*)</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="inputApellidoMaterno"
                                placeholder="{{ 'Maternal Lastname' | translate }}" 
                                    name="inputApellidoMaterno" [(ngModel)]="usuario.apMaterno">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputTelefono" class="col-sm-4 col-form-label">{{'Phone' | translate}}</label>
                            <div class="col-sm-7">
                                <input type="datetime" class="form-control" id="inputTelefono" placeholder="{{ 'Phone' | translate }}"
                                name="inputTelefono" [(ngModel)]="usuario.telef">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEstados" class="col-sm-4 col-form-label">{{ 'Status' | translate }} (*)</label>

                            <div class="col-sm-7">
                                <select id="inputEstados" class="form-control" name="inputTipoEstado"  [(ngModel)]="usuario.estado">
                                    <option [value]="''">Seleccione...</option>
                                        <option [value]="'CREADO'">{{'CREATED' | translate}}</option>
                                        <option [value]="'IMPORTADO'">{{'IMPORTED' | translate}}</option>
                                        <option [value]="'HABILITADO'">{{'ENABLED' | translate}}</option>
                                        <option [value]="'BLOQUEADO'"> {{'LOCKED' | translate}}</option>
                                        <option [value]="'RESETEADO'"> {{'RESET' | translate}}</option>
                                        <option [value]="'INHABILITADO'"> {{'DISABLED' | translate}}</option>
                                </select>
                            </div>

                        </div>
                        </fieldset>
                    </div>
                    <div class="form-group col-md-6">
                        <fieldset disabled>

                        <div class="form-group row">
                            <label for="inputFechaNacimiento" class="col-sm-5 col-form-label">{{ 'Date of birth' | translate }}
                                </label>
                            <div class="col-sm-7">
                                <form class="form">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="{{ 'dd/mm/yyyy' | translate }}" 
                                             name="inputFechaNacimiento"  [(ngModel)]="usuario.fecNac">
                                            <button class="input-group-addon" type="button">
                                                <span class="fa fa-calendar"></span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="inputTipoDocumentos" class="col-sm-5 col-form-label">{{ 'Type of document' | translate }} (*)</label>
                                <div class="col-sm-7">
                                    <select id="inputTipoDocumentos" name="inputTipoDocumento" [(ngModel)]="usuario.tipoDoc" class="form-control">
                                    <option value="" >Seleccione...</option>
                                    <option value="DNI">DNI</option>
                                    <option value="RUC">RUC</option>
                                    <option value="PASAPORTE">PASAPORTE</option>
                                    </select>
                                </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputNroDocumento" class="col-sm-5 col-form-label">{{ 'Number of Document' | translate }}(*)
                                </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="inputNroDocumento"
                                    placeholder="Número de Documento" name="inputNroDocumento"  [(ngModel)]="usuario.numDoc">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputCorreo" class="col-sm-5 col-form-label">{{'Email' | translate }} (*)</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="inputCorreo"
                                    placeholder="correo@ejemplo.com" name="inputCorreo" [(ngModel)]="usuario.correo">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputRolAgrupador" class="col-sm-5 col-form-label">{{'Grouping Role' | translate }} (*)</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="inputRolAgrupador"
                                    placeholder="Rol Agrupador" name="inputRolAgrupador"  [(ngModel)]="RolesAgrupadorClave[indiceRolAgrupador]">
                            </div>
                        </div>
                    </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="card p-3 bg-white rounded">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-10 align-items-center">
                        <p>(*)  {{'Required fields'| translate }}</p>
                    </div>

                    <div class="form-group col-md-2 align-items-center d-flex justify-content-end" >
                            <button type="button" class="btn btn-outline-primary" (click)="cancelar()">
                                <a ><i class="fa fa-chevron-left" aria-hidden="true"></i> {{'Return'| translate}} </a>
                            </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- <div class="col-lg-1"></div> -->
</div>
<div id="footer">
    <div class="container">
      <p class="text-muted credit"><img src="assets/images/novatronic_icon.png" style="width: 30px;height: 30px;margin-right: 5px;" class="logo-bottom">{{footer}}</p>
    </div>
  </div>
