<!--div class="container"-->
<div class="row">
    <!-- <div class="col-lg-1"></div> -->
    <div class="col-lg-12">
        <div class="card mb-3">
            <div class="card-header">Detalle Usuario</div>
            <div class="card-body">
                <div class="form-row d-flex justify-content-center">
                    <div class="form-group col-md-6">
                        <fieldset disabled>
                        <div class="form-group row">
                            <label for="inputUsuario" class="col-sm-4 col-form-label">Usuario (*)</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="inputUsuario" placeholder="Usuario"
                                name="inputUsuario"[(ngModel)]="usuario.usuario">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputNombre" class="col-sm-4 col-form-label">Nombre (*)</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="inputNombre" placeholder="Nombre"
                                name="inputNombre" [(ngModel)]="usuario.nombre">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputApellidoPaterno" class="col-sm-4 col-form-label">Apellido Paterno (*)</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="inputApellidoPaterno"
                                    placeholder="Apellido Paterno" name="inputApellidoPaterno"  [(ngModel)]="usuario.apPaterno">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputApellidoMaterno" class="col-sm-4 col-form-label">Apellido Materno (*)</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="inputApellidoMaterno"
                                    placeholder="Apellido Materno"
                                    name="inputApellidoMaterno" [(ngModel)]="usuario.apMaterno">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputTelefono" class="col-sm-4 col-form-label">Teléfono</label>
                            <div class="col-sm-7">
                                <input type="datetime" class="form-control" id="inputTelefono" placeholder="Teléfono"
                                name="inputTelefono" [(ngModel)]="usuario.telef">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEstados" class="col-sm-4 col-form-label">Estado (*)</label>

                            <div class="col-sm-7">
                                <select id="inputEstados" class="form-control" name="inputTipoEstado"  [(ngModel)]="usuario.estado">
                                    <option [value]="''">Seleccione...</option>
                                        <option [value]="'CREADO'">CREADO</option>
                                        <option [value]="'IMPORTADO'">IMPORTADO</option>
                                        <option [value]="'HABILITADO'">HABILITADO</option>
                                        <option [value]="'BLOQUEADO'">BLOQUEADO</option>
                                        <option [value]="'RESETEADO'">RESETEADO</option>
                                        <option [value]="'INHABILITADO'">INHABILITADO</option>
                                </select>
                            </div>

                        </div>
                        </fieldset>
                    </div>
                    <div class="form-group col-md-6">
                        <fieldset disabled>

                        <div class="form-group row">
                            <label for="inputFechaNacimiento" class="col-sm-5 col-form-label">Fecha de Nacimiento (*)
                                </label>
                            <div class="col-sm-7">
                                <form class="form">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="dd/mm/aaaa" name="inputFechaNacimiento"  [(ngModel)]="usuario.fecNac">
                                            <button class="input-group-addon" type="button">
                                                <span class="fa fa-calendar"></span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="inputTipoDocumentos" class="col-sm-5 col-form-label">Tipo de documento (*)</label>
                                <div class="col-sm-7">
                                    <select id="inputTipoDocumentos" name="inputTipoDocumento" [(ngModel)]="usuario.tipoDoc" class="form-control">
                                    <option value="" >Seleccione...</option>
                                    <option value="DNI">DNI</option>
                                    <option value="RUC">RUC</option>
                                    <option value="PASAPORTE">PASAPORTE</option>
                                    </select>
                                </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputNroDocumento" class="col-sm-5 col-form-label">Número de Documento (*)
                                </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="inputNroDocumento"
                                    placeholder="Número de Documento" name="inputNroDocumento"  [(ngModel)]="usuario.numDoc">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputCorreo" class="col-sm-5 col-form-label">Correo (*)</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="inputCorreo"
                                    placeholder="correo@ejemplo.com" name="inputCorreo" [(ngModel)]="usuario.correo">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputRolAgrupador" class="col-sm-5 col-form-label">Rol Agrupador (*)</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="inputRolAgrupador"
                                    placeholder="Rol Agrupador" name="inputRolAgrupador"  [(ngModel)]="RolesAgrupadorClave[indiceRolAgrupador]">
                            </div>
                        </div>
                    </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-1"></div> -->
</div>
<!--/div-->
<div class="row">
    <!-- <div class="col-lg-1"></div> -->
    <div class="col-lg-12">
        <div class="card p-3 bg-white rounded">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-10 align-items-center">
                        <p>(*) Campos Obligatorios</p>
                    </div>

                    <div class="form-group col-md-2 align-items-center d-flex justify-content-end" >
                            <button type="button" class="btn btn-outline-primary" (click)="cancelar()">
                                <a ><i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar</a>
                            </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- <div class="col-lg-1"></div> -->
</div>
<div id="footer">
    <div class="container">
      <p class="text-muted credit"><img src="assets/images/novatronic_icon.png" style="width: 30px;height: 30px;margin-right: 5px;" class="logo-bottom">{{footer}}</p>
    </div>
  </div>
