<div class="row">
    <div class="col col-sm-6">
        <div class="card mt-3">
            <div class="card-header">Basic Pagination</div>
            <div class="card-body">
                <div class="text-uppercase text-muted fs-12">Default pagination</div>
                <ngb-pagination [collectionSize]="70" [(page)]="defaultPagination"></ngb-pagination>
                <div class="text-uppercase text-muted fs-12">directionLinks = false</div>
                <ngb-pagination [collectionSize]="70" [(page)]="defaultPagination" [directionLinks]="false"></ngb-pagination>
                <div class="text-uppercase text-muted fs-12">boundaryLinks = true</div>
                <!--ngb-pagination [collectionSize]="70" [(page)]="defaultPagination" [boudisabledPaginationndaryLinks]="true"></ngb-pagination-->
                <div class="alert alert-info">
                    <b>Current page: </b>{{defaultPagination}}
                </div>
            </div>
        </div>
    </div>
    <div class="col col-sm-6">
        <div class="card mt-3">
            <div class="card-header">Advanced Pagination</div>
            <div class="card-body">
                <div class="text-uppercase text-muted fs-12">maxSize = 5, rotate = false</div>
                <ngb-pagination [collectionSize]="120" [(page)]="advancedPagination" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>

                <div class="text-uppercase text-muted fs-12">maxSize = 5, rotate = true</div>
                <ngb-pagination [collectionSize]="120" [(page)]="advancedPagination" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>

                <div class="text-uppercase text-muted fs-12">maxSize = 5, rotate = true, ellipses = false</div>
                <ngb-pagination [collectionSize]="120" [(page)]="advancedPagination" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
                <div class="alert alert-info">
                    <b>Current page: </b>{{advancedPagination}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-sm-6">
        <div class="card mt-3">
            <div class="card-header">Pagination size</div>
            <div class="card-body">
                <ngb-pagination [collectionSize]="50" [(page)]="paginationSize" size="lg"></ngb-pagination>
                <ngb-pagination [collectionSize]="50" [(page)]="paginationSize"></ngb-pagination>
                <ngb-pagination [collectionSize]="50" [(page)]="paginationSize" size="sm"></ngb-pagination>
            </div>
        </div>
    </div>
    <div class="col col-sm-6">
        <div class="card mt-3">
            <div class="card-header">Disabled pagination</div>
            <div class="card-body">
                <p>Pagination control can be disabled:</p>
                <ngb-pagination [collectionSize]="70" [(page)]="disabledPagination" [disabled]='isDisabled'></ngb-pagination>
                <hr>
                <button class="btn btn-outline-primary" (click)="toggleDisabled()">
                    Toggle disabled
                </button>
            </div>
        </div>
    </div>
</div>
