
<div class="login-page" >
  <!--  <button id='PruebaButton' > cosa test </button>  -->

     <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/novatronic.png" class="user-avatar" />
            <h1>{{ 'SVI' | translate }}</h1> 
             <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" required maxlength="20" onpaste="return false;" 
                            minlength="5" formControlName="usuario"  oninput="usuario1(this)"  placeholder="{{ 'User' | translate }}">
                    </div>
                    <div *ngIf="loginForm.controls.usuario.invalid && loginForm.controls.usuario.touched"   >
                        <div id="msgMinLogin"  class="text-left" *ngIf="loginForm.controls.usuario.errors?.minlength " style="color:red">{{ 'Minimum size of 5 characters' |
                            translate }}</div>
                        <div id='msgReqLogin'class="text-left" *ngIf="loginForm.controls.usuario.errors?.required"  style="color:red">{{ 'Enter user' | translate }}</div>                    
                    </div>
                    <div class="form-group">
                        <input type="password" formControlName="pass" oninput="pass(this)" required maxlength="16" minlength="6" onpaste="return false;" 
                            class="form-control input-underline input-lg"  placeholder="{{ 'Password' | translate }}">
                    </div>
                    <div *ngIf="loginForm.controls.pass.invalid && loginForm.controls.pass.touched"   >
                        <div id="msgMinPass" class="text-left" *ngIf="loginForm.controls.pass.errors?.minlength " style="color:red">{{ 'Minimum size of 6 characters' |
                            translate }}</div>
                        <div id="msgReqPass" class="text-left" *ngIf="loginForm.controls.pass.errors?.required" style="color:red">{{ 'Enter password' | translate }}</div>
                    </div>
                    <button id="loginButton"
                 
                    name="submit" class="btn rounded-btn" type="submit" [disabled]="loginForm.invalid"> {{ 'Log in' | translate }} </button>
                </div>
               

            </form>
        </div>
      <div id="footer">
            <div class="container">
                <p class="text-muted credit">
                    <img src="assets/images/novatronic_icon.png" style="width: 30px;height: 30px;margin-right: 5px;"
                        class="logo-bottom">{{footer}}
                </p>
            </div>
          </div>
    </div>
</div>

 
<div class="modal fade" bsModal #modal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="dialog-events-name"
     (onHidden)="evento()">
     <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p id='msgModalLogin'>{{messageModal | translate }}</p>
                <button type="button" class="btn btn-danger" (click)="decline()" >Cerrar</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-success" (click)="confirm()" >Confirmar</button>
            </div>
        </div>  
    </div>
</div>

<app-toast></app-toast> 
