$topnav-background-color: #FFF;


:host {
    display: block;
}

.login-page {
  position: fixed;
    top: 0;
   left: 0;
   right: 0;
    bottom: 0;
   overflow: auto;
    background: $topnav-background-color;
     text-align: center;
  /*  color: #000;
    padding: 3em;

   .col-lg-4 {
        padding: 0;
    }

    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
        color: blue;
    }*/

    .input-underline {
        background: 0 0;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid rgb(124, 122, 122);
        color: #000;
        border-radius: 0;
    }

    .input-underline:focus {
        border-bottom: 2px solid #000;
        box-shadow: none;
    }

    .rounded-btn {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        color: #000;
        background:$topnav-background-color;
        border: 2px solid #000;
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
    }

    .rounded-btn:hover,
    .rounded-btn:active,
    .rounded-btn:focus,
    .rounded-btn:visited {
        color: $topnav-background-color;
        background: #000;
        border: 2px solid #000;
        outline: none;
    }

    .boton-cancelar {

        color: #000;
        border: 2px solid #000;
        outline: none;

    }
    .boton-cancelar:hover,
    .boton-cancelar:active,
    .boton-cancelar:focus,
    .boton-cancelar:visited 
    {

        color: #BD362F;
        border: 2px solid #BD362F;
        outline: none;

    }


    h1 {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;

        small {
            color: rgba(17, 16, 16, 0);
        }
    }

    .form-group {
        padding: 8px 0;

        input::-webkit-input-placeholder {
            color: rgb(187, 184, 184);
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            color: rgb(187, 184, 184);
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            color: rgb(187, 184, 184);
        }

        input:-ms-input-placeholder {
            color: rgb(187, 184, 184);
        }
    }

    .form-content {
        padding: 40px 0;
    }

    .user-avatar {
      //  -webkit-border-radius: 50%;
       // border-radius: 25%;
      //   border: 2px solid #000;
      width: 250px;
    } 

    .invalid-feedback {
        margin-top: 16px;
        margin-bottom: 0px
    }
    .anchoCienPorCiento {

        width: 100%;
    
    }
    /* Set the fixed height of the footer here */
#footer {
    font-size: large;
    height: 60px;
    background-color: #ffffff;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  
  
  #wrap > .container {
    padding: 60px 15px 0;
  }
  .container .credit {
    margin: 20px 0;
  }
  
  #footer > .container {
    padding-bottom: 0%;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  #footer {
      position: fixed;
      width: 100%;
      display: block;
      bottom: 0;
  }
}
