<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/novatronic.png" width="150px" />
            <h1>{{ 'Change Password' | translate }}</h1>
            <form id="form" autocomplete="off" ngValidator       [formGroup]="changeForm"          
                (ngSubmit)="change(changeForm.value)">

                <div class="form-content">
                    <div class="form-group">
                        <input type="password"  onpaste="return false;" class="form-control input-underline input-lg" id="oldp" maxlength="16"
                            minlength="6" name="oldPassword" formControlName="old" oninput="pass(this)"
                            placeholder="{{ 'Old Password'| translate }}" required>

                        <div *ngIf="changeForm.controls.old.invalid && changeForm.controls.old.touched">
                            <div class="text-left" *ngIf="changeForm.controls.old.errors?.minlength"  id="msgFirstMinOld" 
                            style="color:red">{{ 'Minimum size of 6 characters' |  translate }}</div>
                            <div class="text-left" *ngIf="changeForm.controls.old.errors?.required"  id="msgFirstReqOld"
                            style="color:red">{{ 'Enter old password' | translate }}</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="password" onpaste="return false;" class="form-control input-underline input-lg" id="newp" maxlength="16"
                            minlength="6" name="newPassword" formControlName="new" oninput="pass(this)"
                            placeholder="{{ 'New Password' | translate }}" required>
                        <div *ngIf="changeForm.controls.new.invalid && changeForm.controls.new.touched">
                            <div class="text-left" *ngIf="changeForm.controls.new.errors?.minlength "   id="msgFirstMinNew" 
                            style="color:red">{{ 'Minimum size of 6 characters' | translate }}</div>
                            <div class="text-left" *ngIf="changeForm.controls.new.errors?.required" id="msgFirstReqNew" 
                             style="color:red">{{ 'Enter new password' | translate }}</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="password" onpaste="return false;" class="form-control input-underline input-lg" id="confp" maxlength="16"
                            minlength="6" formControlName="confirm" oninput="pass(this)"
                            placeholder="{{ 'Confirm Password' | translate }}" required>
                        <div *ngIf="changeForm.controls.confirm.invalid && changeForm.controls.confirm.touched">
                            <div class="text-left" *ngIf="changeForm.controls.confirm.errors?.minlength"   id="msgFirstMinConfirm" 
                            style="color:red">{{ 'Minimum  size of 6 characters' |  translate }}</div>
                            <div class="text-left" *ngIf="changeForm.controls.confirm.errors?.required" id="msgFirstReqConfirm" 
                            style="color:red">{{ 'Enter confirm password' | translate }}</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <button type="button" class="btn rounded-btn boton-cancelar anchoCienPorCiento" name="cancel"
                            (click)="cancel()">{{ 'Cancel' | translate }}</button>
                    </div>
                    <div class="col-md-5">
                        <button class="btn rounded-btn anchoCienPorCiento" type="submit" name="submit"
                            [disabled]="changeForm.invalid">{{ 'Change Password' | translate }}</button>
                    </div>
                    <div class="col-md-1">
                    </div>
              </div>

            </form>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #modal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="dialog-events-name"
     (onHidden)="evento()">
     <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p id="msgFirstLogin">{{ 'Ud. esta seguro de realizar Cambio clave' | translate }}</p>
                <button id="cerrar" type="button" class="btn btn-danger" (click)="decline()" >Cerrar</button>&nbsp;&nbsp;&nbsp;
                <button id="btnConfirmFirstLogin" type="button" class="btn btn-success" (click)="confirm()" >Confirmar</button>
            </div>
        </div>  
    </div>
</div>

<app-toast></app-toast>
