<!-- Reactive Forms -->
<form [formGroup]="crearUserForm" (ngSubmit)="crearUsuario(crearUserForm.value)" > 
<div class="row">
    <div class="col-lg-12">
        <div class="card mb-3">
            <div class="card-header">{{'Create user' | translate}}</div>
            <div class="card-body">
                <div class="form-row d-flex justify-content-center">
                    <div class="form-group col-md-6">
                        <div class="form-group row">
                            <label for="inputUsuario" class="col-sm-4 col-form-label">{{'User' | translate}} (*)</label>
                            <div  name="forma1" class="col-sm-7" >
                                <input type="text" class="form-control" formControlName="usuario" 
                                required minlenght="5"  maxlength="20" oninput="usuario1(this)" id="inputUser"  placeholder="{{ 'User' | translate }}"  >
                                <div *ngIf="crearUserForm.controls.usuario.invalid && crearUserForm.controls.usuario.touched"   >
                                    <small id="minUser" class="form-text"  *ngIf="crearUserForm.controls.usuario.errors?.minlength " style="color:red">{{ 'Minimum size of 5 characters' |  translate }}</small>
                                    <small id="reqUser" class="form-text"  *ngIf="crearUserForm.controls.usuario.errors?.required"  style="color:red">{{ 'Enter user' | translate }}</small>                    
                                </div>
                            </div>
                        </div>
                         <div class="form-group row">
                            <label for="inputNombre" class="col-sm-4 col-form-label">{{'Name' | translate}} (*)</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" formControlName="nombre" (change)="onChangeVacioNombre()"
                                required  minlenght="1" maxlength="50" oninput="nombres(this)" id="inputNombre" placeholder="{{ 'Name' | translate }}" >
                                <div *ngIf="crearUserForm.controls.nombre.invalid && crearUserForm.controls.nombre.touched"   >
                                    <small id="minName" class="form-text"  *ngIf="crearUserForm.controls.nombre.errors?.minlength " style="color:red">{{ 'Minimum size of 1 characters' |  translate }}</small>
                                    <small id="reqName" class="form-text"  *ngIf="crearUserForm.controls.nombre.errors?.required"  style="color:red">{{ 'Enter name' | translate }}</small>                  
                                </div>
                            </div>
                        </div>
                    <div class="form-group row">
                            <label for="inputApellidoPaterno" class="col-sm-4 col-form-label">{{'Paternal Lastname' | translate}} (*)</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" formControlName="apPaterno"  required minlenght="1" maxlength="50"
                                id="inputApellidoPaterno"    oninput="nombres(this)" (change)="onChangeVacioPaterno()"
                                placeholder="{{ 'Paternal Lastname' | translate }}">
                                <div *ngIf="crearUserForm.controls.apPaterno.invalid && crearUserForm.controls.apPaterno.touched"   >
                                    <small id="minPaternal"  class="form-text"  *ngIf="crearUserForm.controls.apPaterno.errors?.minlength " style="color:red">{{ 'Minimum size of 1 characters' |  translate }}</small>
                                    <small id="reqPaternal" class="form-text"  *ngIf="crearUserForm.controls.apPaterno.errors?.required"  style="color:red">{{ 'Enter paternal lastname' | translate }}</small>                    
                                </div>
                            </div>
                        </div>
                          <div class="form-group row">
                            <label for="inputApellidoMaterno" class="col-sm-4 col-form-label">{{'Maternal Lastname' | translate}} (*)</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" formControlName="apMaterno" required minlenght="1" maxlength="50"
                                id="inputApellidoMaterno"    oninput="nombres(this)"  (change)="onChangeVacioMaterno()"
                                placeholder="{{ 'Maternal Lastname' | translate }}" >
                                <div *ngIf="crearUserForm.controls.apMaterno.invalid && crearUserForm.controls.apMaterno.touched"   >
                                    <small id="minMaternal" class="form-text"  *ngIf="crearUserForm.controls.apMaterno.errors?.minlength " style="color:red">{{ 'Minimum size of 1 characters' |  translate }}</small>
                                    <small id="reqMaternal"  class="form-text"  *ngIf="crearUserForm.controls.apMaterno.errors?.required"  style="color:red">{{ 'Enter maternal lastname' | translate }}</small>                    
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputTelefono" class="col-sm-4 col-form-label">{{'Phone' | translate}}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control"   formControlName="telef"  minlenght="9" maxlength="9"
                                id="inputTelefono"      oninput="process(this)"  placeholder="{{ 'Phone' | translate }}" >
                                 <div *ngIf="crearUserForm.controls.telef.invalid && crearUserForm.controls.telef.touched"   >
                                    <small  id="minTelefono" class="form-text"  *ngIf="crearUserForm.controls.telef.errors?.minlength " style="color:red">{{ 'Minimum size of 9 characters' |  translate }}</small>
                                </div>
                            </div>
                        </div>
                     <fieldset disabled>
                            <div class="form-group row">
                                <label for="inputEstado"  class="col-sm-4 col-form-label"> {{ 'Status' | translate }}</label>
                                <div class="col-sm-7">
                                    <select id="inputEstado" class="form-control">
                                        <option value="CREADO" selected>{{'Created' | translate}}</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                   <div class="form-group col-md-6">
                        <div class="form-group row">                    
                            <div for="inputNacimiento"  class="col-sm-5 col-form-label"> {{ 'Date of birth' | translate }}</div>
                            <div class="col-sm-7">
                                <div class="form">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control " readonly="readonly" required 
                                             placeholder="{{ 'dd/mm/yyyy' | translate }}"  
                                            formControlName="fecNac"
                                            #dp="bsDatepicker"
                                            [bsConfig]="{ isAnimated: true }" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" 
                                            [maxDate]="maxDate"  
                                            autocomplete="off" bsDatepicker>
                                            <button class="input-group-addon" type="button"  (click)="dp.toggle()"  [attr.aria-expanded]="dp.isOpen">
                                                <span class="fa fa-calendar"></span>
                                            </button>
                                        </div>
                                        <div *ngIf="crearUserForm.controls.fecNac.invalid && crearUserForm.controls.fecNac.touched"   >
                                            <small id="reqDate" class="form-text"  *ngIf="crearUserForm.controls.fecNac.errors?.required"  style="color:red">{{ 'Enter date of birth' | translate }}</small>                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputTipoDocumento" class="col-sm-5 col-form-label">{{ 'Type of document' | translate }} (*)</label>
                                <div class="col-sm-7">
                                    <select id="inputTipoDocumento"   (change)="onChangeTipoDoc()" required class="form-control" formControlName="tipoDoc" >
                                    <option value="" >{{'Selected' | translate}}...</option>
                                    <option value="DNI">DNI</option>
                                    <option value="RUC">RUC</option>
                                    <option value="PAS">{{'PASSPORT' | translate}}</option>
                                    </select>  
                                    <div *ngIf="crearUserForm.controls.tipoDoc.invalid && crearUserForm.controls.tipoDoc.touched"   >
                                        <small  id="reqTDoc" class="form-text"  *ngIf="crearUserForm.controls.tipoDoc.errors?.required"  style="color:red">{{ 'Select type of document' | translate }}</small>                    
                                    </div>                               
                                </div>
                                
                        </div>

                       <div class="form-group row"> <!-- oninput="tipodocumento(this)"--> 
                            <label for="inputNroDocumento" class="col-sm-5 col-form-label">{{ 'Number of Document' | translate }}(*)</label>
                            <div class="col-sm-7">
                                <input type="text" required minlength={{valueMinLenght}} maxlength={{valueMaxLenght}} class="form-control" id="inputNroDocumento"
                                id="inputNroDocumento"    formControlName="numDoc"   placeholder="{{ 'Number of Document' | translate }}" >
                                <div *ngIf="crearUserForm.controls.numDoc.invalid &&  crearUserForm.controls.numDoc.touched">
                                    <small id="minNDoc" class="form-text" *ngIf="crearUserForm.controls.numDoc.errors?.minlength " style="color:red"> El tamaño minimo de caracteres es  {{valueMinLenght }}</small>
                                    <small id="reqNDoc" class="form-text" *ngIf="crearUserForm.controls.numDoc.errors?.required" style="color:red">{{ 'Enter a number' | translate }}</small>
                                    <small id="reqSTDoc"class="form-text" *ngIf="crearUserForm.controls.tipoDoc.errors?.required" style="color:red">{{ 'Select the value of Document Type' | translate }}</small>
                                </div>
                            </div>
                            </div>
                 <div class="form-group row">
                            <label for="inputCorreo" class="col-sm-5 col-form-label">{{'Email' | translate }} (*)</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="inputCorreo" oninput="mail(this)" formControlName="correo" minlength="1" maxlength="47"
                                    placeholder="email@example.com" >
                            <div *ngIf="crearUserForm.controls.correo.invalid && crearUserForm.controls.correo.touched"   >
                                <small id="reqEmail" class="form-text"  *ngIf="crearUserForm.controls.correo.errors?.required"  style="color:red">{{ 'Enter a Email' | translate }}</small>                    
                                <small id="invalidEmail"class="form-text"  *ngIf="crearUserForm.controls.correo.errors?.pattern"  style="color:red">{{ 'Email must be a valid email addres' | translate }}</small>                    
                            </div>
                            </div>
                        </div>
                         <div class="form-group row">
                            <label for="inputRolAgrupador" class="col-sm-5 col-form-label">{{'Grouping Role' | translate }} (*)</label>
                            <div class="col-sm-7">
                                <select id="inputRolAgrupador" class="form-control" formControlName="rol">
                                    <option *ngFor="let rol of RolesAgrupadorValor; let i = index" [value]="i">
                                        {{RolesAgrupadorClave[i]}}
                                      </option>
                                </select> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card p-3 bg-white rounded">
                <div class="form-row">
                    <div class="form-group col-md-9 align-items-center">
                        <p>(*)  {{'Required fields'| translate }}</p>
                    </div>
                    <div class="form-row col-md-3 align-items-center">
                        <div class="col-md-6  d-flex justify-content-end">
                            <button name="submit" type="submit" class="btn btn-outline-primary" [disabled]="crearUserForm.invalid" >
                                <a >{{'Save' | translate }}<i class="fa fa-save" aria-hidden="true"></i></a>
                            </button>
                        </div>
                        <div class="col-md-6  d-flex justify-content-end">
                            <button name="cancel" type="button" class="btn btn-outline-danger" (click)="cancelar()">
                                <a >{{'Cancel'| translate}} <i class="fa fa-times" aria-hidden="true"></i></a>
                            </button>
                        </div>
                    </div>
                </div>
        
        </div>
    </div>
</div>
<ngx-spinner></ngx-spinner>
</form>


<div id="footer">
    <div class="container">
        <p class="text-muted credit">
            <img src="assets/images/novatronic_icon.png" style="width: 30px;height: 30px;margin-right: 5px;"
                class="logo-bottom">{{footer}}
        </p>
    </div>
  </div>
<app-toast></app-toast>
