<button type="button" id="verificar" class="btn btn-success btn-block" [disabled]="!habilitarBoton()" (click)="servicioVerificacionDactilar()">Verificar<i id="icon-verificar-huellas-button" class="fa fa-institution" style="padding-left: 5%;"></i></button>
<app-toast></app-toast>
