<form [formGroup]="editarUserForm" (ngSubmit)="editarUsuario(editarUserForm.value)" > 
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-3">
                <div class="card-header">{{'Edit User' | translate}}</div>
                <div class="card-body">
                    <div class="form-row d-flex justify-content-center">
                        <div class="form-group col-md-6">
                            <fieldset disabled>
                            <div class="form-group row">
                                <label for=inputUsuario class="col-sm-4 col-form-label">{{'User' | translate}} (*)</label>
                                <div class="col-sm-7">
                                    <input type="text" oninput="usuario(this)" class="form-control" 
                                    formControlName="usuario"  maxlength="20" >
                                    <div *ngIf="editarUserForm.controls.usuario.invalid && editarUserForm.controls.usuario.touched"   >
                                        <small id="minUser" class="form-text"  *ngIf="editarUserForm.controls.usuario.errors?.minlength " style="color:red">{{ 'Minimum size of 5 characters' |  translate }}</small>
                                        <small id="reqUser" class="form-text"  *ngIf="editarUserForm.controls.usuario.errors?.required"  style="color:red">{{ 'Enter user' | translate }}</small>                    
                                    </div>
                                </div>
                            </div>
                            </fieldset>
                            <div class="form-group row">
                                <label for=inputNombre class="col-sm-4 col-form-label">{{'Name' | translate}}  (*)</label>
                                <div class="col-sm-7">
                                    <input type="text" oninput="nombres(this)" class="form-control" (change)="onChangeVacioNombre()" placeholder="{{ 'Name' | translate }}"
                                    formControlName="nombre"  maxlength="50">
                                    <div *ngIf="editarUserForm.controls.nombre.invalid && editarUserForm.controls.nombre.touched"   >
                                        <small id="minName" class="form-text"  *ngIf="editarUserForm.controls.nombre.errors?.minlength " style="color:red">{{ 'Minimum size of 1 characters' |  translate }}</small>
                                        <small id="reqName" class="form-text"  *ngIf="editarUserForm.controls.nombre.errors?.required"  style="color:red">{{ 'Enter name' | translate }}</small>                    
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label  for=inputApellidoPaterno  class="col-sm-4 col-form-label">{{'Paternal Lastname' | translate}} (*)</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control"  oninput="nombres(this)" (change)="onChangeVacioPaterno()"   placeholder="{{ 'Paternal Lastname' | translate }}"
                                    formControlName="apPaterno"  maxlength="50" >
                                    <div *ngIf="editarUserForm.controls.apPaterno.invalid && editarUserForm.controls.apPaterno.touched"   >
                                        <small  id="minPaternal" class="form-text"  *ngIf="editarUserForm.controls.apPaterno.errors?.minlength " style="color:red">{{ 'Minimum size of 1 characters' |  translate }}</small>
                                        <small id="reqPaternal" class="form-text"  *ngIf="editarUserForm.controls.apPaterno.errors?.required"  style="color:red">{{ 'Enter paternal lastname' | translate }}</small>                    
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label  for=inputApellidoMaterno class="col-sm-4 col-form-label">{{'Maternal Lastname' | translate}} (*)</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" (change)="onChangeVacioMaterno()"   placeholder="{{ 'Maternal Lastname' | translate }}"
                                    formControlName="apMaterno" oninput="nombres(this)" maxlength="50" >
                                    <div *ngIf="editarUserForm.controls.apMaterno.invalid && editarUserForm.controls.apMaterno.touched"   >
                                        <small  id="minMaternal"  class="form-text"  *ngIf="editarUserForm.controls.apMaterno.errors?.minlength " style="color:red">{{ 'Minimum size of 1 characters' |  translate }}</small>
                                        <small  id="reqMaternal" class="form-text"  *ngIf="editarUserForm.controls.apMaterno.errors?.required"  style="color:red">{{ 'Enter maternal lastname' | translate }}</small>                    
                                    </div>
                                </div>
                            </div>
    
                            <div class="form-group row">
                                <label for=inputTelefono class="col-sm-4 col-form-label">{{'Phone' | translate}}</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" oninput="process(this)" maxlength="9"  placeholder="{{ 'Phone' | translate }}"
                                    formControlName="telef" >
                                    <div *ngIf="editarUserForm.controls.telef.invalid && editarUserForm.controls.telef.touched"   >
                                        <small  id="minTelefono" class="form-text"  *ngIf="editarUserForm.controls.telef.errors?.minlength " style="color:red">{{ 'Minimum size of 9 characters' |  translate }}</small>
                                    </div>
                                </div>
                            </div>
                                <div class="form-group row">
                                    <label for=inputEstado class="col-sm-4 col-form-label">{{ 'Status' | translate }} (*)</label>
                                    <div class="col-sm-7">
                                        <select class="form-control" formControlName="estado">
                                            <option value="">{{'Selected' | translate}}...</option>
                                            <option [value]="'CREADO'">{{'CREATED' | translate}}</option>
                                            <option [value]="'IMPORTADO'">{{'IMPORTED' | translate}}</option>
                                            <option [value]="'HABILITADO'">{{'ENABLED' | translate}}</option>
                                            <option [value]="'BLOQUEADO'"> {{'LOCKED' | translate}}</option>
                                            <option [value]="'RESETEADO'"> {{'RESET' | translate}}</option>
                                            <option [value]="'INHABILITADO'"> {{'DISABLED' | translate}}</option>
                                        </select>
                                        <div *ngIf="editarUserForm.controls.estado.invalid && editarUserForm.controls.estado.touched"   >
                                            <small   id="reqStatus" class="form-text"  *ngIf="editarUserForm.controls.estado.errors?.required"  style="color:red">{{ 'Select status' | translate }}</small>                    
                                        </div> 
                                    </div>
                                </div>
                        </div>
                        <div class="form-group col-md-6">
     
                            <div class="form-group row">
                                <label for=inputNacimiento class="col-sm-5 col-form-label">{{ 'Date of birth' | translate }} (*)</label>
                                <div class="col-sm-7">
                                    <div class="form">
                                        <div class="form-group">
                                            <div class="input-group" >
                                                <input class="form-control"   formControlName="fecNac" readonly>
                                                <button disabled class="input-group-addon" type="button" >
                                                    <span class="fa fa-calendar"></span>
                                                </button>
                                            </div>
                                            <div *ngIf="editarUserForm.controls.fecNac.invalid && editarUserForm.controls.fecNac.touched"   >
                                                <small id="reqDate" class="form-text"  *ngIf="editarUserForm.controls.fecNac.errors?.required"  style="color:red">{{ 'Enter date of birth' | translate }}</small>                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                            <div class="form-group row">
                                <label for=inputTipoDocumento class="col-sm-5 col-form-label">{{ 'Type of document' | translate }}
                                    (*)</label>
                                    <div class="col-sm-7" >
                                        <select formControlName="tipoDoc" class="form-control"  >
                                        <option value="">{{'Selected' | translate}}...</option >
                                        <option value="DNI">DNI</option>
                                        <option value="RUC">RUC</option>
                                        <option value="PAS">PASAPORTE</option>
                                        </select>
                                        <div *ngIf="editarUserForm.controls.tipoDoc.invalid && editarUserForm.controls.tipoDoc.touched"   >
                                            <small   class="form-text"  *ngIf="editarUserForm.controls.tipoDoc.errors?.required"  style="color:red">{{ 'Select type of document' | translate }}</small>                    
                                        </div>                                      
                                    </div>
                            </div>
                            <div class="form-group row">
                                <label for=inputNroDocumento class="col-sm-5 col-form-label">{{ 'Number of Document' | translate }}(*)</label>
                                <div class="col-sm-7" >
                                    <input type="text" class="form-control" oninput="tipodocumento(this)" maxlength="20" id="inputNroDocumento"
                                    formControlName="numDoc" readonly >
                                    <div *ngIf="editarUserForm.controls.numDoc.invalid &&  editarUserForm.controls.numDoc.touched">
                                        <small  class="form-text" *ngIf="editarUserForm.controls.numDoc.errors?.minlength " style="color:red"> El tamaño minimo de caracteres es  {{valueMinLenght }}</small>
                                        <small  class="form-text" *ngIf="editarUserForm.controls.numDoc.errors?.required" style="color:red">{{ 'Enter a number' | translate }}</small>
                                        <small class="form-text" *ngIf="editarUserForm.controls.tipoDoc.errors?.required" style="color:red">{{ 'Select the value of Document Type' | translate }}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for=inputCorreo class="col-sm-5 col-form-label">{{'Email' | translate }}  (*)</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" oninput="mail(this)" id="inputCorreo"
                                    formControlName="correo"  maxlength="100"  >
                                    <div *ngIf="editarUserForm.controls.correo.invalid && editarUserForm.controls.correo.touched"   >
                                        <small  id="reqEmail" class="form-text"  *ngIf="editarUserForm.controls.correo.errors?.required"  style="color:red">{{ 'Enter a Email' | translate }}</small>
                                        <small id="invalidEmail" class="form-text"  *ngIf="editarUserForm.controls.correo.errors?.email"  style="color:red">{{ 'Email must be a valid email addres' | translate }}</small>                    
                                    </div>                                
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for=inputRolAgrupador class="col-sm-5 col-form-label">{{'Grouping Role' | translate }} (*)</label>
                                <div class="col-sm-7">
                                    <select class="form-control" formControlName="rol"  >
                                        <option *ngFor="let rol of RolesAgrupadorValor; let i = index" [value]="i">
                                            {{RolesAgrupadorClave[i]}}
                                          </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-lg-12">
            <div class="card p-3 bg-white rounded">
                    <div class="form-row d-flex justify-content-center">
                        <div class="form-group col-md-9 align-items-center">
                            <p>(*) {{'Required fields'| translate }}</p>
                        </div>
                        <div class="form-row col-md-3 align-items-center">
                            <div class="col-md-6  d-flex justify-content-end">
                                <button type="submit" class="btn btn-outline-primary" [disabled]="editarUserForm.invalid" >
                                    <a >{{'Save'| translate }} <i class="fa fa-save" aria-hidden="true"></i></a>
                                </button>
                            </div>
                            <div class="col-md-6  d-flex justify-content-end">
                                <button name="cancel" type="button" class="btn btn-outline-danger" (click)="cancelar()">
                                    <a >{{'Cancel'| translate }} <i class="fa fa-times" aria-hidden="true"></i></a>
                                </button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <ngx-spinner></ngx-spinner>
</form>






<app-toast></app-toast>
