<div class="row">
    <div class="col-lg-12">
        <div class="card mb-3">
            <div class="card-header">Detalle Validación</div>
            <div class="card-body">
                <div class="form-row d-flex justify-content-center">
                    <div class="form-group col-lg-6">
                        <fieldset disabled>
                            <div class="form-group row">
                                <label for="inputUsuario" class="col-sm-4 col-form-label">Usuario Consulta</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="Usuario"
                                        name="inputUsuario"  [(ngModel)]="validacion.usuario">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputValidacion" class="col-sm-4 col-form-label">Tipo Verificación</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control"  name="inputValidacion"
                                         [(ngModel)]="validacion.tipoVerificacion">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputMensajeRpta" class="col-sm-4 col-form-label">Mensaje Respuesta</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" 
                                        name="inputMensajeRpta" 
                                        [(ngModel)]="validacion.mensajeRespuesta">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFechaValidacion" class="col-sm-4 col-form-label">Fecha
                                    Consulta</label>
                                <div class="col-sm-7">
                                    <input type="datetime" class="form-control" 
                                        name="inputFechaValidacion" 
                                        [(ngModel)]="validacion.fechaValidacion">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputSistLocalizacion" class="col-sm-4 col-form-label">Sistema
                                    Localización</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" 
                                        name="inputSistLocalizacion"
                                        [(ngModel)]="validacion.sistemaLocalizacion">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputLalitud" class="col-sm-4 col-form-label">Latitud Localización</label>
                                <div class="col-sm-7">
                                    <input type="datetime" class="form-control"  name="inputLalitud"
                                [(ngModel)]="validacion.latitudLocalizacion">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group col-lg-6">
                        <fieldset disabled>
                            <div class="form-group row">
                                <label for="inputIDValidacion" class="col-sm-4 col-form-label">Id Validacion</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="inputValidacion"
                                     [(ngModel)]="validacion.idValidacion">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputOrigenR" class="col-sm-4 col-form-label">Origen Respuesta</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="inputValidacion"
                                       [(ngModel)]="validacion.origenRespuesta">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputCodigoRespuesta" class="col-sm-4 col-form-label">Codigo
                                    Respuesta</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" 
                                        name="inputCodigoRespuesta"
                                        [(ngModel)]="validacion.codigoRespuesta">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputHoraConsulta" class="col-sm-4 col-form-label">Hora Consulta</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" 
                                        name="inputCodigoRespuesta"
                                        [(ngModel)]="validacion.horaProceso">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputLongitud" class="col-sm-4 col-form-label">Longitud Localización</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control"  name="inputLongitud"
                                   [(ngModel)]="validacion.longitudLocalizacion">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Datos de la persona consultada</div>
                    <div class="card-body">
                        <div class="form-row d-flex justify-content-center">
                            <div class="form-group col-md-6">
                                <fieldset disabled>
                                    <div class="form-group row">
                                        <label for="inputApellidoPaterno" class="col-sm-4 col-form-label">Apellido
                                            Paterno</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" 
                                                placeholder="Apellido Paterno" name="inputApellidoPaterno"
                                        [(ngModel)]="validacion.apellidoPaterno">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputNombres" class="col-sm-4 col-form-label">Nombres</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control"name="inputNombres"
                                           [(ngModel)]="validacion.nombres">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputSexo" class="col-sm-4 col-form-label">Sexo</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control"  name="inputSexo"
                                               [(ngModel)]="validacion.sexo">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputFechaNac" class="col-sm-4 col-form-label">Fecha Nacimiento</label>
                                        <div class="col-sm-7">
                                            <input type="datetime" class="form-control"
                                                name="inputFechaNac" 
                                                [(ngModel)]="validacion.fechaNacimiento">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputFechaEmision" class="col-sm-4 col-form-label">Fecha Emision</label>
                                        <div class="col-sm-7">
                                            <input type="datetime" class="form-control" 
                                                name="inputFechaEmision" 
                                                [(ngModel)]="validacion.fechaEmision">
                                        </div>
                                    </div>

                                </fieldset>
                            </div>
                            <div class="form-group col-md-6">
                                <fieldset disabled>
                                    <div class="form-group row">
                                        <label for="inputApellidoMaterno" class="col-sm-4 col-form-label">Apellido
                                            Materno</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" 
                                                placeholder="Apellido Materno" name="inputApellidoMaterno"
                                       [(ngModel)]="validacion.apellidoMaterno">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputTipoDoc" class="col-sm-4 col-form-label">Tipo Documento</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" name="inputTipoDoc"
                                            [(ngModel)]="validacion.tipoDocumento">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputNroDocumento" class="col-sm-4 col-form-label">Número de
                                            Documento</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" 
                                                name="inputNroDocumento" 
                                                [(ngModel)]="validacion.numeroDocumento">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputFechaCad" class="col-sm-4 col-form-label">Fecha Caducidad</label>
                                        <div class="col-sm-7">
                                            <input type="datetime" class="form-control" id="inputFechaCad"
                                                name="inputFechaCad"
                                                [(ngModel)]="validacion.fechaCaducidad">
                                        </div>
                                    </div>

                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card p-3 bg-white rounded">
            <form>
                <div class="form-row d-flex justify-content-end">
                    <div class="col-md-2 d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-primary" (click)="cancelar()">
                            <a ><i class="fa fa-chevron-left" aria-hidden="true"></i>
                                Regresar</a>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
      <p class="text-muted credit h6"><img src="assets/images/novatronic_icon.png" style="width: 30px;height: 30px;margin-right: 5px;" class="logo-bottom">{{footer}}</p>
    </div>
  </div>
