<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#">{{ nombreAPP | translate}}</a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">

        <ul class="navbar-nav ml-auto h5">

            <!--div class="form-row align-items-center">
                    <input type="text" class="form-control" maxlength="8" name="dniValidador" id="inputValidador"
                        placeholder="DNI validador" [(ngModel)]="dniValidador">
                        <button (click)="changeMessage()">Cambiar</button>
                </div-->
            <!--li class="nav-item dropdown" ngbDropdown *ngIf="isVerificador()">
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-user"></i> Tipos de Verificación <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)" *ngFor="let item of tipoVerificacion"
                        (click)="cambiarTipoVerificacion(item.codigo)" value="item.codigo"
                        (change)="cambiarVerificacion()">
                        <i class="fa fa-fw fa-envelope"></i>{{item.descripcion}}
                    </a>
                </div>
            </li-->
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    {{usuarioLogueado}} <i class="fa fa-user-circle-o" aria-hidden="true"></i><b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="cambiarContrasenia()">
                        <i class="fa fa-key" aria-hidden="true"></i> {{ 'Change Password' | translate }}
                    </a>
                    <div *ngIf="isVerificador()">
                        <a class="dropdown-item" href="javascript:void(0)" *ngFor="let item of tipoVerificacion"
                            (click)="cambiarTipoVerificacion(item.codigo,item.descripcion)" value="item.codigo"
                            (change)="cambiarVerificacion()">
                            <i class="fa fa-fw fa-envelope"></i>{{item.descripcion}}
                        </a>
                    </div>

                </div>
            </li>
            <div class="form-row align-items-center">
                <a id="changepassword" href="javascript:void(0)" class="text-white" (click)="onLoggedout()">
                    <i class="fa fa-fw fa-power-off"></i>
                </a>
            </div>
        </ul>
    </div>
</nav>
<app-toast></app-toast>
