<div [@routerTransition]> 
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow p-3 mb-3 bg-white rounded">
                <div class="card-header mb-3 p-2 h5">
                 {{'Check Validations' | translate}}
                </div>
                <form [formGroup]="consultarValidacionesForm" (change)="onChangeForm()" (ngSubmit)="buscarValidaciones(1)">
                    <div class="form-row d-flex align-items-center">
                        <div class="form-group align-items-center col-lg-2">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="defaultUnchecked" (click)="activarFechas()" 
                                 [checked]="filterRadioButtonFechas()" mdbInput>
                                <label class="custom-control-label" for="defaultUnchecked">  {{'Search by dates'| translate}}  </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="defaultChecked" 
                                (click)="activarCantidad()"
                               
                                [checked]="filterRadioButtonCantidad()" mdbInput> 
                                <label  for="searchQuantity" class="custom-control-label" for="defaultChecked"> {{'Search by quantity'| translate}} </label>
                              </div>
                        </div>
                        <div class="form-group align-items-center col-lg-4">
                            <div class="form-group row">
                                <label for="inputFechaDesde" class="col-sm-3 col-form-label">
                                    {{'Date from'| translate}}
                                </label>
                                <div class="input-group col-sm-7">
                                    <input class="form-control"    placeholder="dd/mm/aaaa"    readonly="readonly" 
                                        formControlName="filterfechaDesde"
                                        #dpDesde="bsDatepicker"
                                        [bsConfig]="{ isAnimated: true }" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" 
                                        [maxDate]="this.consultarValidacionesForm.getRawValue().filterfechaHasta ? this.consultarValidacionesForm.getRawValue().filterfechaHasta :maxDate" 
                                        autocomplete="off" bsDatepicker (bsValueChange)="onChangeFecha()"
                                   >
                                    <button class="input-group-addon" type="button" (click)="dpDesde.toggle()" (bsValueChange)="onChangeFecha()" [disabled]="isFechasDisable"  >
                                        <span class="fa fa-calendar"></span>
                                        <div *ngIf="consultarValidacionesForm.controls.filterfechaDesde.invalid && consultarValidacionesForm.controls.filterfechaDesde.touched"   >
                                            <small id="requiredDateFrom"
                                            class="form-text"  *ngIf="consultarValidacionesForm.controls.filterfechaDesde.errors?.required"  style="color:red">{{ 'Enter Date From' | translate }}</small> 
                                    </div>
                                    </button>
                                </div>
                        
                            </div>
                            <div class="form-group row">
                                <label for="inputCantidad" class="col-sm-3 col-form-label">{{'Quantity'| translate}}</label>
                                <div class="col-sm-7">
                                    <input type="text" style="width: 100%;"  oninput="process(this)" maxlength="4" class="form-control" (keyup)="onChangeCantidad()"
                                      name="filterCantidad" id="inputCantidad" placeholder="{{ 'Quantity' | translate }}" formControlName="cantidad">
                                         <small id="requiredQuantity" class="form-text"  *ngIf="consultarValidacionesForm.controls.cantidad.invalid && consultarValidacionesForm.controls.cantidad.touched && 
                                         consultarValidacionesForm.controls.cantidad.errors?.required"  style="color:red">{{ 'Enter quantity' | translate }}</small> 
                                </div>
                            </div>
                        </div>
                        <div class="form-group align-items-center col-lg-4">
                            <div class="form-group row">
                                <label for="inputFechaHasta" class="col-sm-3 col-form-label">     
                                    {{'Date Until'| translate}}
                                </label>
                                <div class="input-group col-sm-7">
                                    <input class="form-control" placeholder="dd/mm/aaaa"    readonly="readonly" 
                                    formControlName="filterfechaHasta"
                                    #dpHasta="bsDatepicker"
                                    [bsConfig]="{ isAnimated: true }" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" 
                                    [minDate]="this.consultarValidacionesForm.getRawValue().filterfechaDesde ? 
                                    this.consultarValidacionesForm.getRawValue().filterfechaDesde : this.consultarValidacionesForm.getRawValue().filterfechaDesde" 
                                    [maxDate]="maxDate"  (bsValueChange)="onChangeFecha()"
                                    autocomplete="off" bsDatepicker>
                                    <button class="input-group-addon" type="button" (click)="dpHasta.toggle()" [disabled]="isFechasDisable"  (bsValueChange)="onChangeFecha()" >
                                        <span class="fa fa-calendar"></span>
                                        <div *ngIf="consultarValidacionesForm.controls.filterfechaHasta.invalid && consultarValidacionesForm.controls.filterfechaHasta.touched"   >
                                            <small id="requiredDateUntil"
                                            class="form-text"  *ngIf="consultarValidacionesForm.controls.filterfechaHasta.errors?.required"  style="color:red">{{ 'Enter Date Until' | translate }}</small> 
                                        </div>
                                    </button>
                                   
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEstado" class="col-sm-3 col-form-label">{{'User'| translate}}</label>

                                <div class="col-sm-7" *ngIf="valorDelRolUsuario()">
                                    <select id="inputEstado" style="position: absolute;width: 90%;"
                                     onmousedown="if(this.options.length>8){this.size='3';}" onchange='this.removeEventListener.size;'  onchange="this.blur()"  onblur="this.size=0;" class="form-control" 
                                     formControlName="filterUsuario" >
                                <!--       <option class="dropdown-item" href="javascript:void(0)"   style="max-height: 50px;" 
                                     value="" >{{'Selected' | translate}}...</option>--> 
                                        <option class="dropdown-item"  style="max-height: 50px;"
                                         *ngFor="let item of listaUsuariosSixbio" (click)="setRequest(item.usuario)"
                                          [value]="item.usuario" >
                                        <i class="fa fa-fw fa-envelope"></i>{{item.usuario}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-sm-7" *ngIf="!valorDelRolUsuario()" >
                                    <select id="inputEstado" style="position: absolute;width: 90%;"class="form-control" 
                                    formControlName="filterUsuario">
                              <!--      <option class="dropdown-item" href="javascript:void(0)"   style="max-height: 50px;" 
                                    value="" >{{'Selected' | translate}}...</option>--> 
                                        <option class="dropdown-item" href="javascript:void(0)"   style="max-height: 50px;" [value]="usuarioLogueado">
                                        <i class="fa fa-fw fa-envelope"></i>{{usuarioLogueado}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div *ngIf="consultarValidacionesForm.controls.filterUsuario.invalid && consultarValidacionesForm.controls.filterUsuario.touched"   >
                            <small class="form-text"  *ngIf="consultarValidacionesForm.controls.filterUsuario.errors?.required"  style="color:red">{{ 'Selected user' | translate }}</small> 
                        </div>
                        </div>
                        <div class="form-group col-lg-1" >
                            <button type="submit" [disabled]="consultarValidacionesForm.invalid" class="btn btn-outline-danger" style="align-items: center;justify-content: center;">
                                <a >{{'Search' | translate}} <i class="fa fa-search"
                                        aria-hidden="true"></i></a>
                            </button>

                        </div>
                    </div>
                </form>
            </div>
     
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12" style="padding-top: 20px;">
            <div class="card mb-3">
                <div class="card-header ">
                    <div class="row d-flex">
                        <div class="row col-md-6" style="text-align: left;"></div>
                        <div class="row col-md-6 " style="text-align: right;">
                            <div class="col-md-11">
                                <button type="button"       id="excel"
                                class="btn btn-outline-success"  [disabled]="consultarValidacionesForm.invalid" (click)="exportarExcel()">
                                    <a >Excel <i class="fa fa-file-excel-o"
                                            aria-hidden="true"></i></a>
                                </button>
                            </div>
                            <div class="col-md-1">
                                <button type="button"   id="pdf"
                                 class="btn btn-outline-danger"   [disabled]="consultarValidacionesForm.invalid" (click)="exportarPDF()">
                                    <a >PDF <i class="fa fa-file-pdf-o"
                                            aria-hidden="true"></i></a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                <table class="card-body table table-hover" style="text-align: center;" id="excel-table">
                    <thead>
                        <tr>
                            <th>{{'TYPE VERIFICATION' | translate}} </th>
                            <th>{{'ORIGIN ANSWER' | translate}} </th>
                            <th>{{'RESPONSE CODE' | translate}} </th>
                            <th>{{'MESSAGE RESPONSE' | translate}} </th>
                            <th>{{'CONSULTATION DATE' | translate}}   </th>
                            <th>{{'CONSULTATION TIME' | translate}}  </th>
                            <th>{{'USER INQUIRY' | translate}}</th>
                            <th>{{'TYPE OF DOCUMENT CONSULTED' | translate}}</th>
                            <th>{{'DOCUMENT NUMBER CONSULTED' |translate}}</th>
                            <th>{{'DETAIL' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="listarValidacionesOK">
                        <tr *ngFor="let validacion of listaValidaciones | paginate:{itemsPerPage: sizePagination, currentPage:p, totalItems:numeroPaginas}">
                            <td>{{validacion.tipoVerificacion}}</td>
                            <td>{{validacion.origenRespuesta}}</td>
                            <td>{{validacion.codigoRespuesta}}</td>
                            <td>{{validacion.mensajeRespuesta}}</td>
                            <td>{{validacion.fechaValidacion}}</td>
                            <td>{{validacion.horaProceso}}</td>
                            <td>{{validacion.usuario}}</td>
                            <td>{{validacion.tipoDocumento}}</td>
                            <td>{{validacion.numeroDocumento}}</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-6" style="text-align: right;">
                                        <button type="button" class="btn btn-outline-primary" data-toggle="tooltip"
                                            data-placement="left" title="Ver detalle" (click)="detalleValidacion(validacion)">
                                            <a ><i class="fa fa-address-card-o"
                                                    aria-hidden="true"></i></a>
                                        </button>

                                    </div>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
                <div *ngIf="esperandoValidaciones">
                    <div style="text-align: center;align-items: center;padding-bottom: 20px;">{{'Loading Results' |translate}} ...</div>

                </div>
            </div>
        </div>
    </div>
        <div class="row" style="margin-bottom: 60px;" >
            <div class="container d-flex justify-content-center col-lg-10" >
                <pagination-controls 
                (pageChange)="p=$event;cambiosGrilla(p)" previousLabel="Anterior" nextLabel="Siguiente" responsive="true" *ngIf="listarValidacionesOK">
                </pagination-controls>
            </div>
            <div class="col-lg-1 d-flex justify-content-end">{{'Size' |translate}} </div>
            <div class="col-lg-1 d-flex justify-content-end">
                <select id="inputSizePagination" class="form-control" name="sizePagination" [(ngModel)]="sizePagination" (change)="cambiosGrilla(1)" >
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
            </div>
    </div>
    <div id="footer">
        <div class="container">
          <p class="text-muted credit h6"><img src="assets/images/novatronic_icon.png" style="width: 30px;height: 30px;margin-right: 5px;" class="logo-bottom">{{footer}}</p>
        </div>
      </div>

    <ngx-spinner></ngx-spinner>
</div>
<app-toast></app-toast>
