
#footer {
  font-size: medium;
  height: 60px;
  background-color: #ffffff;
}


/* Custom page CSS
-------------------------------------------------- */


#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-bottom: 0%;
  padding-left: 15%;
  padding-right: 10%;
}

#footer {
    position: fixed;
    width: 100%;
    display: block;
    bottom: 0;
}