<button appButton type="button" id="capturar" class="btn btn-primary btn-block" (click)="servicioCapturaDactilar()" [disabled]="!habilitarBotonCapturar()" >Capturar
    <!-- Modificado faIcon-->
    <i id="load-consultar-mejor-huella-button" class="fa fa-bullseye" style="padding-left: 5%;"></i></button>
<app-toast></app-toast> 